* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}

.containerPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/img-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: auto;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    background-position: 50% 50%;
}

.containerRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.logo {
    width: 400px;
}

.firstTitle {
    text-align: center;
    font-size: 48px;
    padding: 7px;

}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin: 15px;
    padding: 7px;

}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

.loginInput {
    border: none;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    border-radius: 0px;
    margin: 7px;
    width: 360px;
    height: 42.06px;
    left: 936px;
    top: 396.94px;
    background: rgba(196, 196, 196, 0.12);
}
.loginInput:focus, .userRegisterInput {
    outline-color: #F9B233;
}
.btnStart:focus, .btnGoogle:focus {
    outline: none;
}
.btnStart {
    align-self: center;
    border: none;
    border-radius: 20px;
    margin: 7px;
    padding: 7px;
    width: 331px;
    height: 42px;
    left: 943px;
    top: 529px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    background-color: #F9B233;
}

.btnStart:hover {
    background-color: rgba(253, 199, 105, 0.966);
}

.titleRegister {
    color: black;
    text-align: center;
    margin: 7px;
    padding: 7px;
}

.signUp {
    color: #F9B233;
    text-decoration: none;
}

hr {
    margin: 10px;
}

/*User Register Page*/

.userRegisterTitle {
    text-align: left;
    font-weight: lighter;
    font-size: 36px;
    margin: 30px 0px;
    padding: 7px;

}

.userRegisterform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 420px;
    height: 480px;
    left: 836px;
    top: 186px;
    background: rgb(250, 240, 222);
    border-radius: 22px;
}

.userRegisterform i {
    font-size: 25px;
    margin: 7px;
    padding: 7px;
    color: #F9B233;
}

.userRegisterInput {
    border: none;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    margin: 7px 0px 7px 30px;
    padding: 15px;
    width: 255px;
    height: 42px;
    left: 980px;
    top: 531px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.Allbtn {
    border: none;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 7px;
    width: 420px;
    height: 42px;
    left: 943px;
    top: 529px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    background-color: #F9B233;
}

.Allbtn:hover {
    background-color: rgba(253, 199, 105, 0.966);
}


/*---------MOBILE------------*/

.containerMobile {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.containerColor {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.logoMobile {
    display: none;
    align-content: center;
    width: 300px;
}

.logoUserMobile {
    display: none;
    align-content: flex-start;
    justify-content: center;
    width: 35%;
    margin: 15px;
}
.btnGoogle {
    align-self: center;
    text-decoration: none;
    border-color: #F9B233;
    border-radius: 20px;
    margin: 7px;
    padding: 7px;
    width: 331px;
    height: 42px;
    left: 943px;
    top: 529px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btnGoogle:link {
    text-decoration: none;
}
.btnGoogle:hover {
    background-color: rgba(253, 199, 105, 0.966);
}
.btnGoogleMobile {
    display: flex;
    max-width: 10%;
    margin: -6px 0px -24px 12px;
    align-self: center;
    cursor: pointer;
}


/*-----SIDEBAR------*/

#sidebar {
    display:flex;
    position: fixed;
    width: 250px;
    height: 100%;
    background: #FFF7E9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    left: -200px;
    transition: all 500ms linear;
  }
  
  #sidebar.active {
    left: 0px;
  }
  
  #sidebar ul li {
    color:#000000;
    list-style: none;
    padding: 11px 12px;
    text-align:left;
  }

  li a{
    color:black;
    text-decoration: none;
  }
 
  .listMenu{
    background: #F9B233;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin:20px;
    cursor: pointer;
  }
 
  .listMenu:hover{
    background-color: rgba(253, 199, 105, 0.966);
}
  .logoToggle {
    display: block;
    margin: 0 auto;
    width: 198px;
    padding: 6px; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }

@media screen and (max-width: 576px) {

    .containerPage {
        flex-flow: row wrap;

    }

    .containerLeft {
        display: none;
    }

    .containerRight {
        display: flex;
        width: 100%;
        background-color: whitesmoke;
    }

    .containerMobile {
        display: flex;
        background: url(img/img-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        align-self: auto;
        width: 100%;
        height: 100vh;
    }

    .containerColor {
        display: flex;
        width: 318px;
        height: 453px;
        left: 29px;
        top: 138px;
        background: rgba(252, 244, 244, 0.48);
        border-radius: 1px;
    }

    .logoMobile {
        display: flex;
        width: 300px;
    }

    .logoUserMobile {
        display: flex;
    }

    .firstTitle {
        font-size: 30px;
    }

    .subtitle {
        font-size: 18px;
    }

    .loginInput {
        width: 240px;
        background: rgba(129, 129, 129, 0.12);
    }

    .titleRegister {
        font-size: 14px;
    }

    .signUp {
        color: black;
        text-decoration: none;
    }
    .btnStart {
        width: 221px;
    }
    .btnGoogle {
        width: 221px;
    }
    .btnGoogleMobile {
        display: flex;
        margin: -2px 0px -18px 12px
        
    }

    /*REGISTER PAGE*/

    .userRegisterTitle {
        font-size: 30px;
        margin: 15px 0px;

    }

    .userRegisterform {
        width: 320px;
        height: 380px;
    }

    .userRegisterform i {
        font-size: 18px;
    }

    .userRegisterInput {
        width: 200px;

    }

    .Allbtn {
        margin: 25px 0px;
    }

}

.textarea {
    background-color: #F9B233;
}