
* {
  margin: 0;
  padding: 0;
}
body{
  max-width: 2560px;
}
#root{
  max-width: 2560px;
}


* {
  margin: 0;
  padding: 0;
  
}
body{
  max-width: 2560px;
}
#root{
  
  max-width: 2560px;
}




.viewLoginRegistre{
  background-color:#FFEEEA;
  background-size: cover;
  height: 100vh;
}
/* logo hacia el lado 1 */
.imgLogin{
  background-image: url('./img/logoconfondo.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30vh;
  }

  .imgWel{
    background-image: url('./img/welcome.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: -55px;
  }

  .formLoginRegistre {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.loginForm{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: -30px;
}
.inputMailPassName{
  /* Group 37 */

    background: #FFFFFF;
    border: 3px solid #FF8197;
    border-radius: 20px;

  
    background: #FFFFFF;
    border: 3px solid #FF8197;
 
    border-radius: 20px;


    width: 228px;
    height: 36px;
    left: 119px;
    top: 246px;
    font-family: Eczar;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #374B73;
    line-height: 36px;
    margin: 10px;
    text-indent: 5px;
    text-align: center;
}
.btnLoginRegister{
  background: #FFFFFF;
  border: 3px solid #FF8197;
  border-radius: 20px;
  font-family: Eczar;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #374B73;
  width: 152px;

}
.fila {
  margin-top: 15px;
}

#init{
  background-image: url('./img/iniciacon.png');
  background-position: center center;
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: -28px;
}
#btnGoFa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.small-icon{
  width: 39.06px;
  padding: 6px;
  margin-top: -46px;
}
#noAcc{
  background-image: url('/img/notienescuenta.png'); 
  background-position: center center;
    background-repeat: no-repeat;
    height: 20vh;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -29px;
    align-items: center;
}
#imgRegister{

  background-image: url("./img/registro.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -29px;
  align-items: center;
}

#formTwo {
  flex-direction: column;
    align-items: center;
    display: flex;
}

#loginBack{
  margin-top: 30px;
    width: 68px;
    font-size: 18px;
    background: #ffeeea;

}
html {
  font-family: Eczar, Verdana, Geneva, Tahoma, sans-serif;
}
#bodyHome {
  background: url(./img/fondo.jpg);
  width: 100%;
  height: 100vh ;
  background-size: cover;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-size: contain;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-align: -webkit-center;
  background-attachment: fixed;
  overflow-y: scroll;
}

#bodyHome:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff; /*Capa blanca que puse en el fondo para atenuar el color original */
  position: absolute;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.profileBar {
  background-color: #FFEEEA;
  display: flex;
  z-index: 2;
  border: 2px solid #FF8197;
  height: 5vh;
  width: 100%;
}
        #profile {
          background-image: url(./icons/profile.png);
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-color: #FFEEEA;
          border: 2px solid #FF8197;
          z-index: 5;
        }
        #friends {
          background-image: url(./icons/friends.png);
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-color: #FFEEEA;
          border: 2px solid #FF8197;
          z-index: 5;
        }
        #notification {
          background-image: url(./icons/notification.png);
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-color: #FFEEEA;
          border: 2px solid #FF8197;
          z-index: 5;
        }


      #form-save {
        /* position: relative; */
        font-family: Eczar, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #FFEEEA;
        border-radius: 10px;
        border: 2px solid #FF8197;
        display: flex;
        z-index: 5;
        /* align-self: center; */
        /* width: 370px; */
        /* margin-bottom: 1rem; */
        /* margin-left: 1rem; */
        align-items: center;
        /* align-self: flex-start; */
        /* margin-top: -450px; */
        margin-top: 1rem;
        flex-direction: column;
        justify-content: space-around;

      }

          #form-publication {
            /* position: relative; */
            /* width: 85%; */
            /* height: 100%; */
            /* flex: inherit; */
            margin: 1rem;
            /* align-items: center; */
            /* justify-content: center; */
            
        }
          #publication {
            width: 90%;
            align-items: center;
            /* margin: 1rem; */
            /* justify-content: space-around; */
            border: solid 1px #FF8197;
            height: 80px;
            resize: none;
        }
          #privacity {
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background-color: #ffffff;
          border: solid #FF8197;
          }
          #share-post {
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background-color: #ffffff;
          border: solid #FF8197;
          }

          #post {
            background-position: center;
            font-size: 16px;
            align-items: center;
            height: 100%;
            background-size: contain;
            display: flex;     
            flex-direction: column;
            z-index: 5;
            width: 90%;
          }

          .mystyle {
            margin: 0.5rem;
            border-radius: 10px;
            border: solid 2px #FF8197;
            background-color: #FFEEEA;
            width: 67vw;
            height: 100%;
            opacity: 0.7;
            
          }

          .words {
            color: #374B73;
            margin: 0.5rem;
           }

           #onlyTextImg {
            display: flex;
           }

          .textAreaContent {
            font-size: large;
            font-family: Eczar, Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            height: 19vh;
            width: 50vw;
            margin-top: 0.5rem;
            resize: none;
            float: left;
            margin-left: 1rem;
            /*color: chartreuse;*/
          }

          #onlyButton{
            display: grid;
          }
          .deleteEdit {
             flex-direction: column;
          }
        
        #likeComment{
          display: flex;
        }
        
        .likeCommentButton {
          display: flex;
          margin-left: 0.5rem;
          margin-top: -24px;
        }
      
          .scaled {
            transform: scale(0.5, 0.5);
          }




#root {
  height: 100vh;
}
header {
  position: relative;
  margin-top: 0rem;
  height: 13vh;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
        #logoLadoHome {
            background-image: url(./img/logoLadoFondoBlanco.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 100%;
            margin-top: 0;
        }
          #btnOut {
          background-image: url(./icons/logOut.png);
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-color: #FFEEEA;
          border: 2px solid #FF8197;
          z-index: 5;
          }
          #out{
            justify-content: space-between;
            flex-direction: row;
            color: #FF8197;
            align-items: center;
            margin-left: 60px;
            font-size: larger;
            font-family: Eczar, Verdana, Geneva, Tahoma, sans-serif;
          }
#logoLoginPage {
  position: relative;
  font-family: Eczar, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFEEEA;
  border-radius: 10px;
  border: 2px solid #FF8197;
  width: auto;
  height: auto;
}


@media screen and (min-width:1440px){
  #viewLogin{
    height: 100vh;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .viewLoginRegistre{
background-color:white;
display: flex;
justify-content: space-between;
  }
.imgLogin {
  background-image:url("./img/logovertical.jpg");
  background-color: #FFEEEA;;
  height: 100vh;
  width: 50%;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}
#init{
  margin-left: -13px;
}
.imgWel{
background-image: url('./img/welcome.png');
}

.formLoginRegistre {
  align-self: center;
  margin-right: 216px;
}


.formLoginRegistre {
  
  align-self: center;
  margin-right: 216px;
}


.viewRegistre{
  height: 100vh;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}
@media screen and (min-width:1920px){


  #viewLogin{
    height: 100vh;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .formLoginRegistre {
    align-self: center;
    margin-right: 510px;
  }
  .imgLogin {
    width: 50%;


  }
  .formLoginRegistre {
  
    align-self: center;
    margin-right: 510px;
  }

  .imgLogin {
  
    width: 50%;
  

}
.imgWel {
  height: 20vh;
}

}



